< !DOCTYPE html><html><body>h1 {
    font-family: sans_serif;
    font-size: large;
    text-decoration: overline aqua;
}

.cold {
    text-decoration: chocolate;
}

.cnt {
    text-align: center;
}

.tmb {
    width: 10px;
    height: 10px;
}

</body></html>